body {
background-color: #ffffff;
text-align: center;
margin : 0 0 0 0; 
padding: 15px 15px 15px 15px;
font-family: Arial, Verdana, sans-serif;
font-size: 12;
}

.horizontal_bar{
background-color: gray;
height: 30px;
}

.vertical_bar{
background-color: darkblue;
width: 5px;
}

.main {
font-family: Arial, Verdana, sans-serif;
font-size: 13;
line-height:17px;
color: #000000;
text-align: left;
}

.news_summary{
font-family: Arial, Verdana, sans-serif;
font-size: 12;
line-height:15px;
color: #000000;
text-align: left;
}

.photo_credit{
font-family: Arial, Verdana, sans-serif;
font-size: 9;
color: darkblue;
text-align: left;
vertical-align: bottom;
}

h1 { font-family: Trebuchet MS; font-size: 22pt; font-weight: bold }
h3 { font-family: Trebuchet MS; font-size: 14pt; font-weight: bold }

.navigation {
background-repeat: no-repeat;
background-position: top right;
font-family: Verdana, "Geneva CE", lucida, sans-serif;
font-size: 10px;
font-weight:bold;
color: #000000;
padding: 10px 24px 10px 20px;
text-align: center;
}

.navigace a:link            { color: #ffffff; text-decoration: none;}
.navigace a:active         { color: white; text-decoration: none; }
.navigace a:visited        { color: white; text-decoration: none; }
.navigace a:hover         { color: #000000; text-decoration: none; }

.current_page_link {color:blue}

.navigation2 {
font-family: Arial, Verdana, sans-serif;
font-size: 14px;
font-weight:bold;
color: #000000;
padding: 25px 0px 25px 0px;
}

.nav2 a:link            { color: #006699; text-decoration: none; }
.nav2 a:active         { color: #006699; text-decoration: none; }
.nav2 a:visited        { color: #006699; text-decoration: none; }
.nav2 a:hover         { color: orange; text-decoration: none; }

.calendar {
font-family: Arial, Verdana, sans-serif;
font-size: 13px;
color: #000000;
line-height:15px;
}

.border {border-bottom: dashed 1px #cc6600; border-top: dashed 1px #cc6600; padding:8px 0 8px 0; margin-bottom:20px; }

.cell1 
{font-family: Verdana, "Geneva CE", lucida, sans-serif;
height: 174px;
text-align: center; background-color: #999999;
}

.credit {font-style:italic; color: #ffffff;}

.footer{
font-family: Verdana, "Geneva CE", lucida, sans-serif;
font-size: 11px;
color: #000000;
text-align: left;
background-color: 4B97DF;
padding: 10px 20px 10px 20px;
}

.highlight {color: #ff6600; font-weight: bold;}
.left_row
{padding-right: 20px; text-align: justify;
}

.partners { text-align: left; border-bottom: dashed 1px #C08B38; padding: 10px 0 20px 0; }
.photo_dsc {text-align:center; padding:0 15px 30px 15px; font-style:italic; }
.photo {width:50%; text-align:center; padding-bottom:5px;}


.results {
font-family: Verdana, "Geneva CE", lucida, sans-serif;
font-size: 11px;
line-height:15px;
width: 100%
}

.spacer {padding-bottom: 25px; width: 60%;}
.sch_cell {padding: 10px;}

.right_row {padding-left: 20px; text-align: justify;}
.table {width:700px;} 
.tbl_headline {padding: 3px 0 3px 10px; color:#ff6600; border-bottom: solid 1px #ff6600; border-top: solid 2px #ff6600; font-weight:bold;}
.top_border {border-top: dashed 1px #cc6600; padding:8px 0 0 0; margin: 20px 0 0 0;}