<% @page_title = "Articles" %>

<%= tabnav :article_categories %>
<br/>
<table>
  <% for article in @articles %>
    <tr>
      <td><h3><%= link_to "#{article.title}", { :action => 'show', :id => article } %></h3>
      <p><%= strip_tags(truncate(article.body, 100)) %></p></td>
    </tr>
  <% end %>
</table>
