<table class="base" id="home_page_results">
  <caption><%= link_to 'Results', :controller => 'results' , :year => Date.today.year %></caption>
  <tr><th></th></tr>
  <%- for standings in @recent_results -%>
  <tr>
    <td><%= link_to standings.full_name, :controller => 'results', :action => 'event', :id => standings.event_id %></td>
  </tr>
  <%- end -%>
  <%- if @recent_results.empty? -%>
  <tr>
    <td>No results in the last 4 weeks</td>
  </tr>
  <%- end -%>
  <tr>
    <td style="padding-top: 16px;"><%= link_to 'More &hellip;',
  :controller => 'results', :year => Date.today.year %></td>
  </tr>
</table>