<table class="base" id="home_page_results">
  <caption><%= link_to 'Results', :controller => 'results' , :year => Date.today.year %></caption>
  <%- for standings in @recent_results -%>
  <tr>
    <td><h4><%= link_to standings.full_name, :controller => 'results', :action => 'event', :id => standings.event_id %></h4></td>
  </tr>
  <%- end -%>
  <%- if @recent_results.empty? -%>
  <tr>
    <td><h4>No results in the last 4 weeks</h4></td>
  </tr>
  <%- end -%>
  <tr>
    <td>
      <i><%= link_to 'More &hellip;', :controller => 'results', :year => Date.today.year %></i>
    </td>
  </tr>
</table>