<table class="base" id="upcoming_events">
  <caption><%= caption %></caption>

  <%- if upcoming_events.empty? -%>
    <tr>
      <td>
        <h4>No upcoming events in the next <%= pluralize(upcoming_events.weeks, "week") %></h4>
      </td>
    </tr>
  <%- end -%>

  <%- upcoming_events.disciplines.each do |discipline| -%>
    <h4><%= discipline_upcoming_events(discipline, upcoming_events) %></h4>
  <% end -%>

  <tr>
    <td colspan="2">
      <i><%= footer %></i>
    </td>
  </tr>
</table>
