<p>
  <b>Name:</b>
  <%=h @article_category.name %>
</p>

<p>
  <b>Position:</b>
  <%=h @article_category.position %>
</p>


<%= link_to 'Edit', edit_admin_article_category_path(@article_category) %> |
<%= link_to 'Back', admin_article_categories_path %>
